body {
    font-family: 'Roboto', sans-serif;
}
.header-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 33px 0;

}
.header-nav-list {
    display: flex;
    gap: 50px;
    
}
.header-nav-list-link {
    color: black;
    
}
.header-nav-list-link:hover {
    color:#2196F3;
}
.header-nav-button {
    display: flex;
    gap: 50px;
}
.header-nav-button-number {
    
    border: none;
    color: #757575;
}
.header-nav-button-email {
    border: none;
}
.header-nav-button-link {
    color: black;
}
.header-nav-button-link:hover {
    color: #2196F3;
}
.header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #2F303A;
}
.header-main-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    color: white;
    width: 696px;
    height: 120px;
    text-align: center;
}
.header-main-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    background-color: #2196F3;
    border: none;
    color: white;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    margin-top: 40px;
}
.main-section-subtitle {
    display: flex;
    margin: 94px 0;
    gap: 30px;
    justify-content: center;
}
.main-section-subtitle-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
}
.main-section-subtitle-paragraf {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}
.main-section-WhatDoWeDo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-section-WhatDoWeDo-title {
    font-weight: 700;
    font-size: 36px;
}
.main-section-WhatDoWeDo-img {
    margin-top:90px ;

}
.main-WhatDoWeDo-container{
    justify-content: center;
    display: flex;
    gap: 30px;
}
.main-section-OurTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    background-color: #f5f4fa;
    padding: 95px 0;
}
.main-section-OurTeam-title {
    font-size: 36px;
    font-weight: 700;
}
.ourteam-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.main-section-OurTeam-img {
    width: 100%;
}
.ourteam-card {
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.main-section-OurTeam-img-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}
.main-section-OurTeam-img-paragraf {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 10px;
}
.footer {
    display: flex;
    flex-direction: column;
    background-color: #2F303A;
}
.footer-logo {
    margin-left: 215px;
    margin-top:60px ;
}
.footer-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 215px;
}
.footer-paragraf {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400; 
    margin-top: 20px;
    margin-left: 215px;
}
.number {
    margin-bottom: 60px;
}

